#DataRow {
    width: 60vw;
    height: 50px;
    border-bottom: 1px solid rgb(216, 216, 216);
    text-align: left;
}

#DataField, #TitleField {
    font-size: 12px;
    width: 12vw;
    font-weight: 500;
    margin-top: 17px;
    text-align: left;
    display: inline-block;
    color: rgb(143, 143, 143)
}
#TitleField {
    font-weight: bold;
}